.minion-full-info-part {
	width: 100%;

	.minion-advanced-option-container {
		.minion-advanced-option-area {
			width: 100%;
			padding: 4%;
		}
	}

	.minion-delete-container {
		padding: 10px;
	}
}
