.minion-card-container {
	height: 100%;
	width: 100%;

	.minion-card-header-container {
		height: 22%;
		width: 100%;
		.minion-card-header {
			height: 100%;
		}

		.minion-name-container {
			margin-left: 5%;
		}
	}
}
