.minion-overview-container {
	height: 100%;
	width: 100%;

	// Disalbe text selection on click
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	.minion-overview-header-container {
		height: 43%;
		width: 100%;
		display: inline-block;

		.minion-name-container {
			.minion-name {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				margin-left: 7px;
			}
		}

		.quick-action-container {
			// color: rgb(red, green, blue) ;
		}
	}
	.minion-overview-content-container {
		height: 47%;
		min-height: 47%;
		width: 100%;

		.minion-overview-content-grid {
			width: 100%;
			height: 100%;

			.minion-status-overview-area {
				margin-top: 0%;
				width: 100%;
				height: 100%;
			}
		}
	}
	.minion-overview-footer-container {
		width: 100%;
		height: 10%;
		justify-content: center;
		justify-items: center;

		.minion-overview-footer-grid {
			width: 100%;
		}
	}
}

[dir="rtl"] .minion-overview-header-container .minion-name {
	margin-left: unset;
	margin-right: 7px;
}
