@use "global";

.dashboard-container {
	height: 100vh;
	width: 100vw;
	.dashboard-header {
		position: relative; // Set relative in oder to make z-index effect above the side menu
		z-index: 2;
		width: 100%;
		.dashboard-header-tool-box {
			width: 100%;
			.dashboard-header-tool-box-controls {
				justify-content: end;
				.dashboard-toolbar-icons-container {
					transition: width 0.5s;
					width: 132px; 
					max-height: 44px;
					// When collapsing the div, don't show the content although they are there 
					overflow: hidden;
					&.--collapse {
						width: 0;
					}
				}
			}
		}
	}
	.dashboard-content-dashboard {
		display: flex;
		.dashboard-side-menu {
			height: 100%;
			width: global.$sideBarExtendedWidth;
			transition: width 0.2s;
			&.--collapse {
				width: global.$sideBarCollapseWidth;
			}
			.dashboard--side-menu-bar {
				height: 100%;
				.dashboard-side-menu-collapse-icon-container {
					margin-top: 1.5vh;
					margin-bottom: 1vh;
					justify-content: center;
				}

				.dashboard-side-menu-tabs {
					max-height: 70vh;
				}
				.dashboard-side-menu-bottom-area {
					vertical-align: bottom;
					justify-content: center;
					text-align: center;
					width: global.$sideBarExtendedWidth;
					position: fixed;
					bottom: 0;
				}
			}
		}
		.dashboard-router {
			padding: 1em;
		}
	}
	.dashboard-footer-menu {
		width: 100%;
		position: fixed;
		bottom: 0;
	}
}
