// Theme palette
$primaryColor: var(--primary-color);
$backgroundColor: var(--background-color);

// Dashboard consts
$sideBarExtendedWidth: var(--side-bar-extended-width);
$sideBarCollapseWidth: var(--side-bar-collapse-width);
$appBarHight: var(--app-bar-hight);
$footerMenuHight: var(--footer-menu-hight);
