@use "global";
@use "./layout/pageWithSideInfoLayout";

.minions-container {
	width: 100%;
	height: 100%;
	display: flex;

	.minion-grid-box-container {
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1em;
		cursor: pointer;

		&.--mobile {
			// Im mobile beside that the cursor is irrelevant, setting pointer cursor draw blue overlay over the card
			cursor: unset;

			// Disable text selection, sine in mobile browser auto select the texts when clicking card
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
		}
		.minion-grid-box {
		}
	}
}

.resize-slider-container {
	position: absolute;
	bottom: 0em;
	right: 1em;
	&.--mobile {
		bottom: global.$footerMenuHight;
		right: 0em;
	}
	&.--minion-full-info-enabled {
		right: calc(1em + #{pageWithSideInfoLayout.$fullInfoDesktopWidth});
	}

	.resize-slider-icon-tip {
		cursor: pointer;
	}
	.resize-slider {
		margin-top: 6px;
		width: 10em;

		&.--mobile {
			width: unset;
			height: 5em;
		}
	}
}

// In RTL view, stick all to the left
[dir="rtl"] .resize-slider-container {
	right: unset;
	left: 1em;
	&.--mobile {
		left: 0em;
		right: unset;
	}
	&.--minion-full-info-enabled {
		right: unset;
		left: calc(1em + #{pageWithSideInfoLayout.$fullInfoDesktopWidth});
	}
}
