@use "global";

$minionFullInfoDesktopWidth: 500px;

.minions-container {
	width: 100%;
	height: 100%;
	display: flex;

	.minions-grid-area {
		width: 100%;
		min-width: calc(100% - #{$minionFullInfoDesktopWidth});

		&.--hide-minion-grid {
			display: none;
		}

		.minions-grid-container {
			width: 100%;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;

			// In mobile mode (AKA touch screens), let scroll, but hide the scrollbar element
			&.--mobile {
				-ms-overflow-style: none; /* for Internet Explorer, Edge */
				scrollbar-width: none; /* for Firefox */
				overflow-y: scroll;
			}
			&.--mobile::-webkit-scrollbar {
				display: none; /* for Chrome, Safari, and Opera */
			}

			.minion-grid-box-container {
				margin-left: 1em;
				margin-right: 1em;
				margin-bottom: 1em;
				cursor: pointer;

				&.--mobile {
					// Im mobile beside that the cursor is irrelevant, setting pointer cursor draw blue overlay over the card
					cursor: unset;

					// Disable text selection, sine in mobile browser auto select the texts when clicking card
					-webkit-touch-callout: none; /* iOS Safari */
					-webkit-user-select: none; /* Safari */
					-khtml-user-select: none; /* Konqueror HTML */
					-moz-user-select: none; /* Old versions of Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
				}
				.minion-grid-box {
				}
			}
		}
	}

	.minion-full-info-area-container {
		transition: width 1s;
		width: 0px;
		overflow: hidden;
		height: 100%;
		margin-right: 1em;
		margin-left: 1em;

		&.--small-screen {
			// Disable animation on small screen, the animation is only in case the view is beside the grid
			transition: unset;
		}

		&.--minion-full-info-enabled {
			width: 100%;
			max-height: 100%;

			&.--small-screen {
				// In small screens, show only the full info card
				width: 100%;
			}
		}

		.minion-full-info-card {
			height: 100%;
			width: 100%;
		}
	}
}

.resize-slider-container {
	position: fixed;
	bottom: 0em;
	right: 1em;
	&.--mobile {
		bottom: global.$footerMenuHight;
		right: 0em;
	}
	&.--minion-full-info-enabled {
		right: calc(1em + #{$minionFullInfoDesktopWidth});
	}

	.resize-slider-icon-tip {
		cursor: pointer;
	}
	.resize-slider {
		margin-top: 6px;
		width: 10em;

		&.--mobile {
			width: unset;
			height: 5em;
		}
	}
}

// In RTL view, stick all to the left
[dir="rtl"] .resize-slider-container {
	right: unset;
	left: 1em;
	&.--mobile {
		left: 0em;
		right: unset;
	}
	&.--minion-full-info-enabled {
		right: unset;
		left: calc(1em + #{$minionFullInfoDesktopWidth});
	}
}
